{% extends "base.html" %}

{% block content %}
<form action="" method="post">
    <h1>Заявка для связи с вами</h1>
    <div>
        <form class="order_form" method="post">
            <p><input type="name" class="form-control" id="name" placeholder="Введите свое имя" name="name"></p>
            <p><input type="phone" class="form-control" id="phone"
                      placeholder="Введите номер телефона" name="phone"></p>
            <div class="form-group">
                <label for="classSelect">Тип мероприятия:</label>
                <select class="form-control" id="classSelect" name="class">
                    <option value="0">Свадьба</option>
                    <option value="1">корпоратив</option>
                    <option value="2">Юбилей</option>
                    <option value="3">Выпускной</option>
                    <option value="4">Деловое мероприятие</option>
                    <option value="5">спортивное мероприятие</option>
                </select>
            </div>

            <div class="form-group">
                <label for="wishes">Ваши пожелания</label>
                <textarea class="form-control" id="wishes" rows="3" name="wishes"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</form>
{% endblock %}
